body{
    margin: auto;
}
.navigation{
    display: flex;
    width: max-content;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    .navigation{
    display: flex;
    width: max-content;
    justify-content: center;
}
}
#selector-line hr{
    width: match-parent;
    background: black;
    height: 2px;
}
ul{
    list-style: none;
    display: table-row;
}
li{
    display: table-cell;
}
li button{
    background: none;
    border: none;
    width: max-content;
    margin:25px 100px 0;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid; */
}
.clock-main{
    display: flex;
    padding-top: 100px;
    width: max-content;
    justify-content: center;
    font-size: 7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media only screen and (max-width: 768px){
    .clock-main{
    display: flex;
    padding-top: 100px;
    width: max-content;
    justify-content: center;
    font-size: 7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}
.clock-main .hour,.min,.sec,.milisec{
    position: relative;
    float: left;
    /* border: 1px solid; */
}
.time-hint{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: -10px;
    right: 0;
    /* border: 1px solid; */

}
#id-clock .milisec,#id-clock #id-msec-colon{
    display: none;
}
#id-timer .milisec,#id-timer #id-msec-colon{
    display: none;
}
#id-stopwatch .stopwatch-strt-btn{
    display: block !important; 
    position: absolute;
    bottom: 15%;
}
.stopwatch-strt-btn button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: rgb(37, 35, 35);
    color: aliceblue;
    border-radius: 25px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

#id-timer .timer-setter{
    display: block !important;
    position: absolute;
    bottom: 10%;
}
#id-time-input{
    height: 50px;
    width: 200px;
    font-size: 30px;
}
.timer-setter button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: rgb(37, 35, 35);
    color: aliceblue;
    border-radius: 25px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
