body {
    background-image: url("../img/bg.jpg");
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    position: fixed;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player{
    width: 300px;
    padding: 5px 40px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.8);
}
.player .music-name{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.player .music-info{
    margin: 0;
    color: rgb(100, 100, 100); 
    text-align: center;
}
.player .progress{
    margin-top: 20px;
}
.player .progress .progress-seconds{
    display: flex;
    justify-content: space-between;
    color: rgb(100, 100, 100);
}
.player .progress progress{
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
}
.player .progress progress::-webkit-progress-bar{
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}
.player .progress progress::-webkit-progress-value{
    background: linear-gradient(rgb(255,0,0),rgb(255,100,100));   
    border-radius: 10px;
}
.player .music-controller{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 40px;
}
.player .music-controller .btn{
    font-size: 20px;
    width: 50px;
    height: 50px;
    color: rgb(100, 100, 100);
    background: linear-gradient(120deg, rgb(170,170,170), rgb(150,150,150));
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.player .music-controller .btn:focus{
    outline: none;
    box-shadow: none;
}
.player .music-controller .btn.btn-prev i{
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    background:  linear-gradient(rgb(255,0,0),rgb(255,100,100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.player .music-controller .btn.btn-play{
    font-size: 35px;
    width: 65px;
    height: 65px;
    background: linear-gradient(120deg, rgb(200,200,200), rgb(150,150,150));
}
.player .music-controller .btn.btn-play i{
    display: inline-block;
    margin-top: 4px;
    margin-left: 2px;
    background:  linear-gradient(rgb(255,0,0),rgb(255,100,100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.player .music-controller .btn.btn-next i{
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    background:  linear-gradient(rgb(255,0,0),rgb(255,100,100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

